<div class="main-wrapper">
    <div class="main-content">
        {{ $image := resources.Get "images/logo2.png" }}
        <!-- <img src="{{ $image.RelPermalink }}" height="50px" class="card-image"> -->
        <h2 class="mt-2">Anil Antony</h2>
        <p class="color-grey" id="dateResult" style="font-size: small;"></p>
        <div class="color-grey d-flex align-items-center mt-4">
            <a class="custom-border border-right border-color-white p-2 m-0">Writing</a>
            <a class="custom-border border-right p-2 m-0" href="/about">About</a>
            <a class="custom-border border-right p-2 m-0" href="/works">Works</a>
            <a class="custom-border p-2 m-0">Contact</a>
        </div>
        <div class="hire mt-4">Available for hire</div>
    </div>
</div>

<script>
    document.addEventListener("DOMContentLoaded", function () {
        console.log('this is triggered')
        const timeDifference = new Date() - new Date(new Date('2022-05-20').setHours(0, 0, 0, 0));
        const millisecondsInYear = 1000 * 60 * 60 * 24 * 365.25;
        const millisecondsInMonth = millisecondsInYear / 12;
        const millisecondsInWeek = 1000 * 60 * 60 * 24 * 7; //

        const years = Math.floor(timeDifference / millisecondsInYear);
        const months = Math.floor((timeDifference % millisecondsInYear) / millisecondsInMonth);
        const weeks = Math.floor((timeDifference % millisecondsInMonth) / millisecondsInWeek);
        const days = Math.floor((timeDifference % millisecondsInWeek) / (1000 * 60 * 60 * 24))

        const dataResultElement = document.getElementById("dateResult");
        dataResultElement.textContent = `${years} ${years > 1 ? 'Years ' : 'Year'} ${months} ${months === 1 ? 'Month' : 'Months'} ${weeks} ${weeks === 1 ? 'Week' : 'Weeks'} ${days} ${days === 1 ? 'day' : 'days'}`
    })
</script>