<div class="main-wrapper">
    <div class="main-content">
        {{ $image := resources.Get "images/logo2.png" }}
        <img src="{{ $image.RelPermalink }}" height="50px" class="card-image">
        <h2 class="mt-2">Anil Antony</h2>
        <h6 class="color-grey">Minimalist . Builder . Developer</h6>
        <div class="color-grey d-flex align-items-center mt-4">
            <a class="custom-border border-right border-color-white p-2 m-0">Writing</a>
            <a class="custom-border border-right p-2 m-0" href="/about">About</a>
            <a class="custom-border border-right p-2 m-0" href="/works">Works</a>
            <a class="custom-border p-2 m-0">Contact</a>
        </div>
        <div class="hire mt-4">Available for hire</div>
    </div>
</div>